{{ attach_library('novaftl_theme/error-404') }}

<div class="error-404">
    <div class="center">
        <h2>¯\_(ツ)_/¯</h2>
        <p>
            The page you were looking for is not here, should not be here,
            might have been here or may one day be here.
        </p>
    </div>
    <p>Here are some suggestions based on your race:</p>
    <ul>
        <li>
            If you are human, you must be confused. It's not safe to be here so
            here's <a href="/">a link so that you can return home</a>.
        </li>
        <li>
            If you are a bot, the <a href="/sitemap.xml">sitemap</a> is here.
            <strong>Use it</strong> and leave me be.
        </li>
        <li>
            ᛁᚠ ᛫ ᛃᚢ ᛫ ᚪᚱ ᛫ ᚫᚾ ᛫ ᛆᚤᚤ ᛫ ᛚᛘᛆᚮ ᛫ ᛃᚢ ᛫ ᚳᚢᛞ ᛫ ᛏᚳᛖᚴ ᛫ ᚪᚹᛏ ᛫ ᚧᛁᛋ ᛫
            <a href="https://wayback.archive.org/web/20160112000701/http://www.timecube.com/">ᚴᚢᛚ ᛫ ᚹᛖᛒᛋᚪᛃᛏ</a>
            ᛫ ᛁᛏ ᛫ ᛁᛋ ᛫ ᚱᛖᛈᚱᚣᛋᛖᚾᛏᚣᛏᛁᚡ ᛫ ᚠᚩᚱ ᛫ ᚪᚹᚣᚱ ᛫ ᚴᚣᛚᛏᚳᚣᚱ
        </li>
    </ul>
</div>
